{:deps    {edn-query-language/eql    {:mvn/version "0.0.9"}
           org.clojure/tools.logging {:mvn/version "0.4.1"}
           aysylu/loom               {:mvn/version "1.0.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}}}
